*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Roboto;
    font-weight: 400;
    font-size: 2vh;
    color: #CBCBCB;
    background-color: #424242;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 9fr 3fr;
    grid-template-rows: 1fr 18fr 1fr;
    grid-template-areas: "dock status-bar aside" "dock main aside" "dock bottom-bar aside";

    & > div {
        background-color: #516676;
        border: 0.5px solid #fff;
    }
}

.dock {
    grid-area: dock;
}

.status-bar {
    grid-area: status-bar;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
}

.bottom-bar {
    grid-area: bottom-bar;
}