@import 'variables.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Roboto;
    font-weight: 400;
    font-size: 2vh;
    color: #CBCBCB;
    background-color: #424242;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-auto-columns: 4.5em 4fr auto;
    grid-template-rows: 2em auto 3em;
    grid-template-areas: "dock status-bar notification" "dock main notification" "dock bottom-bar notification";
    place-items: stretch;

    & > div {
        display: flex;
        background-color: #516676;
        border: 0.5px solid #fff;
    }

    .canvas {
        width: 100%;
        height: 100%;
    }
}

.dock {
    grid-area: dock;
}

.status-bar {
    grid-area: status-bar;
}

.main {
    grid-area: main;
}

.notification {
    grid-area: notification;
    position: absolute;
    width: 20vw;
    height: 100vh;
    right: -20vw;

    &-open {
        right: 0;
        transition: right $transition-duration cubic-bezier(0.4, 0, 1, 1);
    }
}

.bottom-bar {
    grid-area: bottom-bar;
}